:root {
  --box-dimension: 100px;
  font-family: system-ui;
}

body {
  margin: 0;
  padding: 0;
}

.game {
  display: flex;
  padding-top: 50px;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  width: 100vw;
  height: 100vh;
}

input {
  width: 200px;
}

.container {
  display: grid;
  background-color: white;
  grid-template: repeat(3, var(--box-dimension)) / repeat(
      3,
      var(--box-dimension)
    );
}

.item {
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
  line-height: var(--box-dimension);
}
